body {
  background-color: black; /* цвет фона */
  background-image: url(img/wallpaper2.jpg); /* картинка для фона */
  background-repeat: no-repeat; /* чтобы картинка не повторялась */
  background-position: 17% 30%; /* позиционирование фонового изображения в процентах относительно элемента. 1-ось X, 2-ось Y */
  margin: 0;
  padding: 0;
}
header {
  width: 200px;
}
a {
  border: 2px rgb(255, 255, 255);
  border-style: solid solid;
  display: block;
  color: rgb(235, 235, 235);
  padding: 8px 16px;
  text-decoration: none;
}
a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.audio-track {
  width: 150px;
  height: 3px;
  background-color: #dddddd;
  margin: 20px 0
}

.time {
  width: 0;
  height: 3px;
  background-color: #474747
}