body {
  margin: 60px 0 0 0; /* чтобы элементы спустить на 60px */
  background-color: black; /* цвет фона */
  background-image: url(img/wallpaper2.jpg); /* картинка для фона */
  background-repeat: no-repeat; /* чтобы картинка не повторялась */
  background-position: 17% 30%; /* позиционирование фонового изображения в процентах относительно элемента. 1-ось X, 2-ось Y */
}
.img {
  margin: 0 auto 50px;
  display: flex;
  width: 150px;
  height: 150px;
}
li input {
  border-width: 3px;
  color: rgb(106, 117, 117);
  padding: 5px 5px;
  margin: 0 auto;
  display: table;
  justify-content: center; /* Чтобы контент сдвинуть в центр */
  background-color: rgb(50, 50, 50);
}
.text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center; /* чтобы сдвинуть в центр */
  padding-top: 5px;
  padding-bottom: 2px;
  margin: 0;
}
.authentication {
  padding: 0; /* Изначально слева 40px */
  /* list-style-type: none; Чтобы убрать значки список */
  margin: 0; /* Изначально сверху 16px */
}
.email {
  width: 160px;
}
.password {
  width: 160px;
}
.date {
  margin: 0 auto;
}
.checkbox {
  padding: 10px 0 0 0;
  color: black;
  margin: 0 0 0 2.5px;
  display: flex;
  justify-content: center;
}
.checktext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  padding-top: 0;
  margin: 0 5px;
}
.submit {
  width: 200px;
}
.submit:hover {
  cursor: pointer;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}
